/* 
Ejecicio completo con HTML y CSS
(OK) 1- Crear un documento HTML y vincularlo con CSS
(OK) 2- Crear una estructura HTML que cuente con un contenedor general, header, menú, barra lateral, seccion de contenido principal, elementos dentro del contenedor principal
footer
(OK) 3- Todo el contenido debe estar dentro del contenedor general, su ancho será de 1200px y estar centrado
(OK) 4- El header debe ocupar el 100% del ancho y tener un texto grande centrado
(OK) 5- El menú debe tener los elementos uno al lado del otro
(OK) 6- El contenido principal debe tener un ancho del 70%
(OK) 7- El contenido dentro del contenedor principal debe ser una cuadrícula con 4 líneas de 2 cajas
(OK) 8- La barra lateral debe tener un ancho del 30%
(OK) 9- El footer debe tener un ancho del 100% del div que lo contiene y estar abajo del todo
*/

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}#general{
    width: 1200px;
    margin: 0px auto; /*Centra el div en la pantalla*/
    margin-top: 20px;
    border: 1px solid #ccc;

}#header{
    width: 100%;
    height: 100px;
    background: rgb(15, 118, 236);
    color: white;
    text-align: center;
    line-height: 90px;

}#menu ul li{
    list-style-type: none;
    /* display: inline-block; */
    display: block;
    float: left;
    border-right: 1px solid #ccc;

}.clearfix{ /*Elimina los flotados*/
    float: none;
    clear: both;

}#menu{
    background: #eee;
    

}#menu ul li a{
    color: #444;
    display: block; /*Elementos ocupan a toda la caja*/
    padding: 15px;

}#menu ul li a:hover{
    background: rgb(15, 118, 236);
    color: white;
    cursor: pointer;

}#menu ul li:hover{
    background: rgb(15, 118, 236);
    
}#menu ul li:hover a{
    color: white;
    
}#contenido{
    width: 69%;
    float: left;

}#lateral{
    float: left;
    width: 30%;
    border: 1px solid red;
    min-height: 500px;
    text-align: center;
    max-height: 650px;
    overflow-y: scroll;

}#contenido .caja{
    width: 40%;
    height: 250px;
    background: #ccc;
    border: 1px solid gray;
    /* color: white; */
    float: left;
    margin: 20px;
    margin-left: 40px;
    text-align: center;
    line-height: 200px;
    color: #444;
    text-transform: uppercase;
    box-shadow: 5px 5px 10px gray;
    border-radius: 50px 10px 4px 61px;
    /*position: absolute; No hace caso a floats, todo lo unifica y queda en la misma posición, no actúan los margenes ni nada*/

}#contenido > h1{
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    color: #444;
    text-shadow: 1px 1px 2px gray; /*sombra en eje x, sombra en eje y, difuminado, color de la sobra*/

}footer{
    width: 100%;
    background: #eee;
    text-align: center;
    color: #444;
    height: 55px;
    line-height: 55px;
    border-top: 1px solid #ccc;

}.sombra-interior{
    box-shadow: 5px 5px 15px gray inset !important;

}.libre,
libre2{
    border: 1px solid black;
    background: red;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 13px;
    position: absolute;
    top: 300px;
    /* left: 50%; */
    right: 40%;

}.libre2{
    background: green;
    top: 280px;
    z-index: -1; /*Posición de la capa respecto a otros items*/

}.libre1{
    z-index: 2;

}.fija{
    order: 1px solid black;
    background: blue;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 13px;
    position: fixed;
    top: 50%;
    left: 0px;
    /* right: 40%; */

}