*{
    margin: 0px;
    padding: 0px;

}.clearfix{
    float: none;
    clear: both;

}#container{
    width: 70%;
    background-color: red;
    margin: 0px auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;

}header{
    width: 100%;
    background-color: lightblue;
    color: #333;
    height: 150px;
    line-height: 150px;
    text-align: center;

}aside{
    width: 25%;
    background: #ccc;
    float: left;
    min-height: 700px;
    text-align: center;
    line-height: 700px;

}#articles{
    background-color: lemonchiffon;
    width: 75%;
    min-height: 700px;
    float: left;

}#articles article{
    width: 30%;
    height: 150px;
    background: green;
    color: white;
    line-height: 150px;
    text-align: center;
    border: 2px solid white;
    float: left;
    margin: 30px;

}
/* RESPONSIVE  volver a ver clase 77*/
/* Media queries: Caputurar los puntos de corte, en este caso 888px */
/* Desde 0px hasta 888px se ejecutarán estos estilos */
@media (max-width: 888px) {
    #articles article{
        width: 40%;
        background-color: red;
    }

/* También se puede combinar de esta manera: @media (max-width: 632px) and (max-height: 600px) */
}@media (max-width: 632px){
    #container{
        overflow: hidden;

    }#articles{
    width: 100%;
    
    }
    #articles article{
        width: 90%;
        background-color: blue;

    }#aside{
        float: none;
        min-height: auto;
        line-height: 20px;
        width: 91%;
        padding: 19px;
    }

}@media(max-width: 554){
    body{
        background: salmon;

    }
}